img {
  max-width: 100%;
}

img.imagen-izquierda {
  width: 100px;
  min-width: 100px;
  opacity: 0.7;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  border: 5px solid #e0e0e0;
  border-radius: 5%;
}
img.imagen-izquierda.seleccionada{
  opacity: 1;
}

.izquierda {
  margin-right: 15px;
}

mat-grid-tile.detalles ::ng-deep figure {
  align-items: start !important;
  justify-content: start !important;
  display: block;
  padding: 5px;
}

button.carrito {
  position: absolute;
  left: -10px;
  bottom: 0;
  margin: 0 0 15px 5px;
}
a.comprar {
  position: absolute;
  left: 180px;
  bottom: 0;
  margin: 0 0 15px 5px;
}

.mat-display-2 {
  margin: 0;

}
p{
  font-size: 1.3rem !important;
}
