<mat-card style="background-color:#FEF3EC;">
  <h1>{{ 'aproducto.nproducto' | transloco }}</h1>
  <p>
    <mat-form-field>
      <input matInput [(ngModel)]="productoModel.nombre"
             type="text"
             placeholder="{{ 'aproducto.nombre' | transloco }}">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <textarea rows="10" matInput [(ngModel)]="productoModel.descripcion"
                placeholder="{{ 'aproducto.descripcion' | transloco }}"></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput [(ngModel)]="productoModel.precio"
             type="number"
             placeholder="{{ 'aproducto.precio' | transloco }}">
    </mat-form-field>
  </p>
  <label for="fotos">{{ 'aproducto.foto' | transloco }}</label>
  <br>
  <input accept="image/png,image/jpeg" #foto required id="fotos" multiple type="file">
  <p>
    <app-loading-button [cargando]="cargando" texto="Guardar" (click)="guardar()"></app-loading-button>
    <a routerLink="/productos" mat-raised-button color="primary" style="margin-left: 10px">{{ 'aproducto.volver' | transloco }}</a>
  </p>
</mat-card>
