<pre *ngIf="auth.user$ | async as user" style="background-color:#F0F0F0;">
  <h1>{{ 'venta.venta' | transloco }}</h1>

  <table class="mat-elevation-z13" *ngIf="ventas.length>0" mat-table [dataSource]="ventas" style="background-color:#FEF3EC;">
    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef>{{ 'venta.cliente' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef>{{ 'venta.direccion' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.direccion}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>{{ 'venta.total' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total | currency}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="detalles">
      <mat-header-cell *matHeaderCellDef>{{ 'venta.detalles' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="verDetalle(element.id)" color="accent">
          <mat-icon>pageview</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </table>
</pre>