<pre *ngIf="auth.user$ | async as user" style="background-color:#F0F0F0;">
  <h1>{{ 'producto.nproducto' | transloco }}</h1>
  <button (click)="navegarAFormulario()" mat-button color="accent" mat-raised-button>{{ 'producto.aproducto' | transloco }}</button>
  <table class="mat-elevation-z13" *ngIf="productos.length>0" mat-table [dataSource]="productos" style="background-color:#FEF3EC;">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>{{ 'producto.nombre' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>{{ 'producto.descripcion' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descripcion}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef>{{ 'producto.precio' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.precio | currency}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="eliminar">
      <mat-header-cell *matHeaderCellDef>{{ 'producto.eliminar' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="eliminar(element)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </table>
</pre>