<mat-card>
  <div style="">
    <div class="contenedor-imagen">
      <img src="{{resolverRuta()}}" alt="">
    </div>
    <div style="display: inline-block; vertical-align: top">
      <h2>{{producto.nombre}}</h2>
      <h1>{{producto.precio | currency}}</h1>
      <button (click)="detalles()" mat-stroked-button color="warn">{{ 'tproducto.detalle' | transloco }}
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
