<div class="contenedor-padre">
  <mat-toolbar class="barra" color="warn">
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        {{ 'menu.ntienda' | transloco }}&nbsp;|&nbsp;By Jhoel
      </span>

      <div>
        <a style="margin-left: 10%; font-size:20px" mat-stroked-button color="#F0F0F0" 
            href="https://angular.io" target="_blank"> {{ 'menu.ayuda' | transloco }}</a>

        <a style="margin-left: 2%; font-size:20px" mat-stroked-button color="#F0F0F0"
            href="https://nodejs.org/es/" target="_blank"> {{ 'menu.soporte' | transloco }}</a>

        <a style="margin-left: 2%; font-size:20px" mat-stroked-button color="#F0F0F0"
            href="https://support.google.com/mail/answer/8494?co=GENIE.Platform%3DDesktop&hl=es" target="_blank"> {{ 'menu.correo' | transloco }} </a>
      </div>

      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [matMenuTriggerFor]="menu" style="margin-left: 20%;">
        <span style="margin-left: 10px" [matBadge]="productos.length+''" matBadgeOverlap="false"
              matBadgePosition="below after">{{ 'menu.compras' | transloco }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let p of productos;">{{p.nombre}}  {{p.precio | currency}}</button>
        <button mat-menu-item>
          <strong>{{ 'menu.total' | transloco }}: {{total() | currency}}</strong>
        </button>
        <a *ngIf="productos.length > 0" mat-menu-item routerLink="/terminar_compra">
          <mat-icon>shopping_cart</mat-icon>
          {{ 'menu.tcompra' | transloco }}</a>
      </mat-menu>

      <span class="example-fill-remaining-space"></span>

      <div *ngIf="auth.isAuthenticated$ | async">       
          <p style="font-size: 20px; margin-top: 25px; margin-right: 20px; color: darkblue;">jhoel</p>
        </div>

        <button style="font-size: 12px; margin-right: 5px" mat-raised-button color="primary" (click)="loginWithRedirect()" *ngIf="!(auth.isAuthenticated$ | async)"> {{ 'menu.ingresar' | transloco }} </button>

        <button style="font-size: 12px; margin-right: 5px" mat-raised-button color="accent" (click)="logout()" *ngIf="auth.isAuthenticated$ | async" > {{ 'menu.salir' | transloco }} </button>
        
        <button mat-raised-button [matMenuTriggerFor]="lenguaje" mat-raised-button>
          <div>
            <span style="margin-right: 2% ; align-items: center;" matBadgeOverlap="false" matBadgePosition="below after"> <i class="fa fa-globe" aria-hidden="true"></i> {{siteLanguage}}</span>
          </div>
            <mat-menu #lenguaje="matMenu">
            <button style="margin-top: 5px;" mat-raised-button (click)="changeSiteLanguage('es')"> Español </button>
            <button style="margin-left: 5px" mat-raised-button (click)="changeSiteLanguage('en')"> English </button>
            <button style="margin-left: 5px" mat-raised-button (click)="changeSiteLanguage('pt')"> Português </button>
            </mat-menu>
        </button>

    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 300px;" #cajon opened mode="side">
      <mat-nav-list>
        <div *ngIf="auth.isAuthenticated$ | async" style="background-color:#FEF3EC;">
          <h2 style="margin-left: 4px;"><b> {{ 'menu.administrador' | transloco }} </b></h2>
          <a mat-list-item routerLinkActive="active" routerLink="/productos">
            <mat-icon color="primary">list_alt</mat-icon>
            Productos
          </a>
          <a mat-list-item routerLinkActive="active" routerLink="/ventas">
            <mat-icon color="primary">local_shipping</mat-icon>
            Ventas
          </a>
        </div>
        <mat-divider></mat-divider>
        <br>
        <h2 style="margin-left: 4px;"><b>{{ 'menu.cliente' | transloco }}</b></h2>
        <a mat-list-item routerLink="/tienda">
          <mat-icon color="primary">store</mat-icon>
          {{ 'menu.tienda' | transloco }}
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
